<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=mikehstg;AccountKey=7JlFqmWU0BliE1k5r7fvAuao3nB+/ceYl+WbOKJgz1RqQCgaznBq7zA/XZTMftl0py/QgCd0sK1RHVAtBhz9Bw==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>